# Root
.env
.env.local
node_modules/
dist/

# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.db
khetwala-backend/*.db

# Expo / React Native
.expo/
web-build/

# OS / Editor
.DS_Store
Thumbs.db
.vscode/